body{
    padding:0px;
    margin: 0px;
}

.title{
    text-align: center;
    margin: 10px 0px;
}

#main{
    width:800px;
    height: 500px;
    border:1px solid red;
    margin: 0 auto;
    position:relative;
}
#main .left{
    width: 600px;
    height: 100%;
    background-color: #fff;
    float: left;
}
#main .right{
    width: 200px;
    height: 100%;
    background-color: pink;
    border-left: 1px solid red;
    box-sizing:border-box;           /*这里边线让宽度变多了，设置box-sizing:border-box*/
    float: right;
    text-align: center;
}
#main .right h2{
    margin: 20px auto;
    text-align: center;
}
#main .right h2 #score{
    color: red;
}
#main .right button{
    width: 100px;
    height: 30px;
    background-color: #abcdef;
    border: 0px;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    outline: none;            /*去边线*/
    margin-top:20px;
}

.food{
    background-color: red;
}
.snake{
    background-color: green;
}